* {
    padding: 0;
    margin: 0;
}

.top {

}

/* ===== HEADER ====== */

.header {
    padding: 39px 0;
    margin: 0 0 84px 0;
    box-sizing: border-box;
}

.header-icon {

}

.header-menu {

}

.header-menu-list {

}

.header-menu-item {

}

.menu-link {

}

/* =====  END HEADER ====== */

/* =====  TOP-INFO ====== */

.top-info {
    margin: 0 0 162px 0;
}

.top-info-content {

}

.top-content-title {
    margin: 0 0 17px 0;
}

.top-content-txt {
    margin: 0 0 37px 0;
}

.top-content-btn-wrp {

}

.top-content-btn {

}

.top-info-img {

}

/* =====  END TOP-INFO ====== */

/* =====  TOP-LOGOS ====== */

.top-logos {

}

.top-logos-list {

}

.top-logos-item {

}

/* =====  END TOP-LOGOS ====== */